<h2>Create New User:</h2>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div>

  <div>
    <%= form.label :username, "Username:" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit "Submit!" %>
  
<% end %>


<%
=begin%>
 <h2>Create New User:</h2>

<%= form_tag("/users") do  %>
  <%= hidden_field_tag "authenticity_token" %>

  <div>
    <%= label_tag "email", "Email:" %>
    <%= email_field_tag "email" %>
  </div>

  <div>
    <%= label_tag "username", "Username:" %>
    <%= text_field_tag "username" %>
  </div>

  <div>
    <%= label_tag "password", "Password:" %>
    <%= password_field_tag "password" %>
  </div>

  <%= submit_tag "Submit!"%>

<% end %> 
<%
=end%>



<%
=begin%>
 <h2>Create New User:</h2>

<form accept-charset= "UTF-8" action="/users" method = "post">
  <input type="hidden" name="authenticity_token">

  <div>
    <label for="email">Email:</label>
    <input type="email" name="user[email]" id="email">
  </div>
  
  <div>
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">
  </div>
  
  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
  </div>

  <input name = "commit" type="submit" value="Submit!" data-disable-with="Submit!">

</form> 
<%
=end%>

